@import "tailwindcss";



@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --color-blueavanti:#005CFF;
  --color-whiteavanti:#FFFFFF;
  --color-grayavanti-300:#E7E7EA;
  --color-grayavanti-600:#C2C2C2;
  --color-grayavanti-100:#DEDEDE;
  --color-grayavanti-50:#F5F5F5
  --color-greenavanti:#5EC0BE;
  --color-darkblueavanti:#00264E;
 
}

