@import "tailwindcss";


@theme inline {

  --font-nunito: var(--font-nunito-sans);
  --color-blueavanti:#005CFF;
  --color-whiteavanti:#FFFFFF;
  --color-lightgray:#F5F5F5;
  --color-grayavanti-300:#E7E7EA;
  --color-grayavanti-600:#C2C2C2;
  --color-grayavanti-100:#DEDEDE;
  --color-greenavanti:#5EC0BE;
  --color-darkblueavanti:#00264E;
  --color-purpleavanti:#6220C1;
  --color-blackavanti:#000000;
}

*{
  font-family: "Nunito Sans", sans-serif;
}

